name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:

  # JOB 1: TESTS UNITARIOS (CI)
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Run unit tests
        run: |
          pytest -q app/tests

  # JOB 2: DEPLOY (CD)
  deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Deploy with Ansible
        run: |
          ansible-playbook -i ansible/hosts.ini ansible/site.yml

